.toolbar{
    width: auto;
    height: auto;
    background-color: rgb(229, 229, 229);
    display: grid;
    grid-template-columns: 12% 12% 36% 20% 18%;
    padding: 15px;
    border-radius: 10px;
    gap: 4px;
}

.play-all-button {
    position: relative;
    border-radius: 5px;
    border: 1px solid rgb(185, 185, 185);
}

.add-all-button {
    position: relative;
    border-radius: 5px;
    border: 1px solid rgb(185, 185, 185);
}

.filter-input-field {
    border-radius: 20px;
    padding: 10px;
    border: 1px solid 1px solid rgb(185, 185, 185);
}

.track-number-button {
    position: relative;
    grid-column-start: 4;
    grid-column-end: 5;
    border-radius: 5px;
    border: 1px solid rgb(185, 185, 185);

}

.play-icon {
    display: inline-block;
    margin-right: 5px;
}
.add-icon {
    display: inline-block;
    margin-right: 10px;
}

.button-description{
    display: inline-block;
    padding: auto;
}

.options {
    display: inline-block;
    height: 100%;
    width: 20%;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    border-right: 0;
    border-top: 0;
    border-bottom: 0;
}

.down-arrow-icon {
    margin-right: 10px;
    display: inline-block;
}

.up-arrow-icon {
    display: inline-block;
}

/* .dropdown-div {
    height: auto;
} */