.toolbar{
    background-color: rgb(229, 229, 229);
    padding: 10px;
    border-radius: 10px;
    height: fit-content;
}
.play-all-button {
    border-radius: 10px;
    border: 1px solid rgb(185, 185, 185);
    height: fit-content;
    width: fit-content;
}

.add-all-button {
    border-radius: 10px;
    border: 1px solid rgb(185, 185, 185);
    height: fit-content;
    width: fit-content;
}

.filter-input-field {
    border-radius: 20px;
    border: 1px solid rgb(185, 185, 185);
    height: auto;
    padding: 5px;
    width: 100%;
}

.play-icon {
    display: inline-block;
    margin-right: 5px;
}
.add-icon {
    display: inline-block;
    margin-right: 10px;
}
.button-description{
    display: inline-block;
    padding: auto;
}
.options {
    display: inline-block;
    height: 100%;
    width: 20%;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    border-right: 0;
    border-top: 0;
    border-bottom: 0;
}
.down-arrow-icon {
    margin-right: 10px;
    display: inline-block;
}
.up-arrow-icon {
    display: inline-block;
}

.filter-form {
    height: fit-content;
    width: fit-content;
}

.custom-column {
    height: 100%;
    margin:auto;
}