.music-upload-form {
    background-color: white;
    margin: auto;
    margin-top: 10px;
    width: 30%;
    height: auto;
}

.music-upload-button {
    width: 80px;
    height: 80px;
    background-color: rgb(229, 229, 229);
    color: black;
    border: 0px;
    border-radius: 50%;
    position: relative;
    right: 0;
}

.file-name {
    width: 100%;
}

.song-name {
    width: 100%;
}

.artist-name {
    width: 100%;
}

.error {
    color: rgb(255, 93, 93);
}