.song-list {
    width: auto;
    margin-top: 10px;
}

.song-row {
    display: grid;
    grid-template-columns: 5% 30% 30% 20% 15%;
    border-bottom: 1px solid rgb(229, 229, 229);
}


.top-col {
    background-color:rgb(229, 229, 229);
    padding: 10px;
    margin: 1px;
}
.col {
    padding: 10px;
}

.song-play-and-move {
    display: grid;
    grid-template-columns: auto auto;
}

.dots {
    float: left;
    background-color:white;
    border: 0px;
}

.play {
    float: left;
    background-color:white;
    border: 0px;
}

.additional-options {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.option {
    background-color: white;
    border: 0px;
}


th {
    background-color: rgb(229, 229, 229);
}